name: "single"

on:
  schedule:
    - cron: "0 12 * * 3"
  pull_request:
  push:
    branches:
      - main
      - develop
      - "release/**"
    paths:
      - "**.dart"
      - "./*.yaml"
      - .github/workflows/_base*.yaml
      - .github/workflows/single.yaml

# call the base workflow with the package path
jobs:
  detect-sdk:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/dart_package_template"

  force-sdk-flutter:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/flutter_package"
      force-sdk: "flutter"

  force-sdk-dart:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/dart_package_template"
      force-sdk: "dart"

  branch-sdk-flutter:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/flutter_package"
      sdk-branch: "beta"

  branch-sdk-dart:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/dart_package_template"
      sdk-branch: "beta"

  version-sdk-flutter:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/flutter_package"
      sdk-version: "3.38.5"

  version-sdk-dart:
    uses: ./.github/workflows/_base-flutter.yaml
    with:
      path: "packages/dart_package_template"
      sdk-version: "3.10.1"
